body {
  background-image: url("../images/flag.png");
  background-repeat: no-repeat;
}

h1 {
  font-size: 24pt;
}

h1, div {
    padding: 10px;
}

button, .submit {
  height: 30px;
  width: 130px;
  background-color: #6969ee;
  margin: 10px;
  color: white;
  font-size: 10pt;
  border-radius: 8px;
}

#results {
  width: 1000px;
}

#newsearch {
  float: right;
}

#outerdiv {
  display: inline-block;
}

aside {
  float: right;
}